# Adicionar aqui os arquivos para ignorar

PI_3_Defensores_de_Hastings/PI_3_Defensores_de_Hastings/bin/*
PI_3_Defensores_de_Hastings/PI_3_Defensores_de_Hastings/bin/*
PI_3_Defensores_de_Hastings/.vs/*